@import url("https://fonts.googleapis.com/css?family=Lobster|Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  position: relative;
  /* font-family: "Lato"!important; */
  font-weight: 100;
}

.black{
  background-color: black;
}

.body-section {
  background-color: black;
}


.carousel-bg {
 background-color: rgba(0, 0, 0, 0.411)!important;
}

.graphic {
  font-weight: 200;
  letter-spacing: 11.2px;
  padding: 0%;
}

.head {
    background-image:linear-gradient(to right,rgba(0,60,100,.3),rgba(0,60,100,.6)) ,url(../img/ijo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 25vh;
    margin-top: 50px;
}

nav {
    background-color: #0000001f!important;
}

.logo {
    height: 30px;
    width: 30px;
}

.log-2 {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-left: 15px;
}

.header {
    margin-top: 60px!important;
    padding: 0;
}


/* --------------------mainNav ---------------------*/

 @media screen and (min-width:0px) {
  #mainNav {
    position: absolute;
    top: -100px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  }
}

 @media screen and (min-width:576px) {
  #mainNav {
   position: fixed;
   top: 0;
  }
}

@media screen and (min-width:768px) {
  #mainNav {
    position: fixed;
    top: 0;
  }
}
@media screen and (min-width:992px) {
  #mainNav {
    position: fixed;
    top: 0;
  }
}
@media screen and (min-width:1200px) {
  #mainNav {
    position: fixed;
    top: 0;
  }
}  



/* --------------------slideNav ---------------------*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.underline {
  height: 3px;
  width: 150px;
}

.sidenav {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 3000!important;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* --------------------toggleNav ---------------------*/



  .navButton{
    position: absolute;
    right: 10px!important;
  }


 @media screen and (min-width:0px) {
  #openNav {
    display: fixed;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  }
}

 @media screen and (min-width:576px) {
  #openNav {
   display: none;
  }
}

@media screen and (min-width:768px) {
  #openNav {
    display: none;
  }
}
@media screen and (min-width:992px) {
  #openNav {
    display: none;
  }
}
@media screen and (min-width:1200px) {
  #openNav {
    display: none;
  }
}  





/* --------------------Contact Form---------------------*/

.contact-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  height: 30vh;
}

.footer-navs{
  list-style: none;
  display: inline-flex;
}

.social-links{
  list-style: none;
  display: inline-flex;
}
#myNavbar{
background-color: white!important;

}

#myNavbar {
  background-color: white;
  position: sticky;
  top: 50px;
  z-index: 500;
  border-bottom: solid 1px black;
  
}

#myNavbar {
 list-style: none; 
 margin: auto;
 
}

#myNavbar ul li  a:link {
 color: black;
 
}



#myNavbar ul li a:visited{
  color:black;
}

  


.footer {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
}

.footer-blog {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
}

 .blog-photo{
  width:100%;
  
  overflow: hidden;
  background-color: black;
}

.blog-photo img {
  opacity: 0.6;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s; opacity: 0.5s;
}

.blog-photo img:hover{
  opacity:1;
  transform: scale(1.03);
} 


#progress{
  background:linear-gradient(to left,rgba(0,60,100,.3),rgba(0,60,100,.6)) ,url(../img/my\ pi.png)center/cover no-repeat;
}

.About {
  margin-top: 100px!important;
}

.contactI .whatsapp {
  margin-left: 0;
  color: green;
  font-size: 30px;
}

.contactI .google {
  margin-left: 0;
  color: red;
  font-size: 30px;
}

.contactI .facebook {
  margin-left: 0;
  color: rgb(20, 115, 223);
  font-size: 30px;
}

.contactR{
 margin: auto;
  justify-content: center;
  text-align: center;
}

.topNav{
  z-index: 2000;
}



.contact-div {
  margin-top: 100px!important;
}

.blog-ref{
  color: rgb(34, 33, 33);
  font-size: 12px;
}

.blog-link h3  {
  color: black
}

.blog-link a {
  text-decoration: none; 
}

.blog-link a:hover {
   border-bottom: red solid 1px;
}

.dark{
  background-color: rgba(0, 0, 0, 0.301);
  padding: 0;
}

.height{
  height: 39vh;
}

footer p {
  font-size: small;
}



/*------------Animation---------------------*/





body {
  font-family: "Raleway", sans-serif!important;
  color: #f2f2f2;
}

.main-header {
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: #333333;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.main-header .brand {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 2rem;
}
.main-header .main-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5rem;
}
.main-nav .nav-link {
  list-style: none;
  padding: 1rem;
  opacity: 0;
}
.nav-link a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #f2f2f2;
}

section {
  min-height: 100vh;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}


@media screen and (min-width:0px) {
  .title-header {
    font-weight: 200;
    font-size: 1.5rem;
  }
}

@media screen and (min-width:346) {
  .title-header {
    font-weight: 200;
    font-size: 4rem;
  }
}

 @media screen and (min-width:576px) {
  .title-header {
    font-weight: 300;
    font-size: 4rem;
  }
}

@media screen and (min-width:768px) {
  .title-header {
    font-weight: 300;
    font-size: 4.5rem;
  }
}
@media screen and (min-width:992px) {
  .title-header {
    font-weight: 300;
    font-size: 5rem;
  }
}



.title-header .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1rem;
  padding-right: 0.05rem;
  padding-bottom: 0.15rem;
  line-height: 1rem;
}
.title-header .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #f2f2f2;
  transform-origin: 0.5 0;
}
.title-header .letters {
  display: inline-block;
  opacity: 0;
}

.hero-section {
  position: fixed;
  top: 0;
  z-index: -1;
}
.hero-section img {
  width: 100%;
  height: 100vh;
}

 @media screen and (min-width:0px) {
  .hero-section svg {
    font-size: 0.5rm;
  }
}

@media screen and (min-width:256px) {
  .hero-section svg {
    font-size: 1rem;
  }
}

 @media screen and (min-width:576px) {
  .hero-section svg {
    font-size: 5rem;
  }
}

@media screen and (min-width:768px) {
  .hero-section svg {
    font-size: 10rem;
  }
}
@media screen and (min-width:992px) {
  .hero-section svg {
    font-size: 10rem;
  }
}
 
.hero-section .hero-title {
  position: absolute;
  bottom: 50%;
  right: 5%;
  font-family: "Lobster";
  font-size: 5rem;
  color: #272727;
  opacity: 0;
  transform: translateX(0);
  transition: all 800ms ease-in-out;
}
.hero-section svg {
  font-family: "Lobster";
  font-size: 4.5rem;
  font-weight: bold;

  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
}
.hero-section svg text {
  transition: ease-in-out 1s;
  transform-origin: center;
}
.hero-section svg rect {
  mask: url(#mask);
}
.hero-section svg mask rect {
  fill: white;
}

